* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
}

.container-fluid {
    width: 1300px;
    padding: 30px 30px;
    margin: 0 auto;
}

header .container-fluid {
    display: flex;
    flex-direction: column;
}





header {
    background-color: #E7F1FB;
}




nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav-list {
    display: flex;
    flex-direction: row;
    margin-left: 440px;
}

.brand-name {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.brand-photo {
    margin-right: 8px;
}

.nav-link {
    display: block;
    margin: 0px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #455A74;
    text-decoration: none;
}

.active {
    color: #0A121E;
}


.nav-link:hover {
    color: #0A121E;
}

.token-link {
    margin-left: 35px;
    padding: 8px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(10, 18, 30, 0.7);
    border-radius: 4px;
    text-decoration: none;

}

.token-link:hover {
    text-decoration: underline;
}

.container-fluid-header {
    display: flex;
    flex-direction: row;
}




.header-info-box {
    width: 5%;
    display: flex;
    flex-direction: row;
    margin: 100px 0px 40px 0px;
}


.header-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-socials-img {
    width: 16px;
}

.head-socials-link {
    width: 20px;
    display: inline-block;
    margin: 15px 0px;
}

.header-info-section {
    display: flex;
    flex-direction: row;
    margin: 100px 0px 40px 0px;
}


.header-photo-sec {
    width: 55%;
    margin-left: 120px;
    background-image: url(./img/oval.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
    
.header-img {
    width: 380px;
    margin-left: 60px;
}   



.header-info {
    width: 45%;
    
}

.header-sub-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;
}

.header-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
    color: #0A121E;
    margin: 11px 0px 30px 0px;

}

.header-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #455A74;
    margin-bottom: 30px;

}

.header-info-links {
    display: flex;
    flex-direction: row;
}


.request-link {
    width: 295px;
    height: 58px;
    display: inline-block;
    padding: 17px 26px;
    background: #1673FF;
    border: 2px solid #1673FF;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;

}

.request-link:hover {
    color: #0A121E;
    background-color: #FFFFFF;
}


.frame {
    margin-left: 30px;
}

.whitepaper-link {
    width: 268px;
    height: 58px;
    display: block;
    padding: 17px 26px;
    border: 2px solid rgba(10, 18, 30, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.4s;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0A121E;

}

.frame1 {
    margin-left: 75px;
}

.whitepaper-link:hover {
    color: white;
    background-color: #1673FF;
}