* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    
    font-family: "Roboto", sans-serif;
}

.container-fluid {
    width: 1300px;
    padding: 30px 30px;
    margin: 0 auto;
}

header .container-fluid {
    display: flex;
    flex-direction: column;
}





header {
    background-color: #E7F1FB;
}




nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav-list {
    display: flex;
    flex-direction: row;
    margin-left: 440px;
}

.brand-name {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.brand-photo {
    margin-right: 8px;
}

.nav-link {
    display: block;
    margin: 0px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #455A74;
    text-decoration: none;
}

.active {
    color: #0A121E;
}


.nav-link:hover {
    color: #0A121E;
}

.token-link {
    margin-left: 35px;
    padding: 8px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(10, 18, 30, 0.7);
    border-radius: 4px;
    text-decoration: none;

}

.token-link:hover {
    text-decoration: underline;
}

.container-fluid-header {
    display: flex;
    flex-direction: row;
}




.header-info-box {
    width: 5%;
    display: flex;
    flex-direction: row;
    margin: 100px 0px 40px 0px;
}


.header-socials {
    position: absolute;
    position:fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-socials-img {
    width: 16px;
}

.head-socials-link {
    width: 20px;
    display: inline-block;
    margin: 15px 0px;
}

.header-info-section {
    display: flex;
    flex-direction: row;
    margin: 100px 0px 40px 0px;
}


.header-photo-sec {
    width: 55%;
    margin-left: 120px;
    background-image: url(./img/oval.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.header-img {
    width: 380px;
    margin-left: 60px;
}



.header-info {
    width: 45%;

}

.header-sub-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;
}

.header-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
    color: #0A121E;
    margin: 11px 0px 30px 0px;

}

.header-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #455A74;
    margin-bottom: 30px;

}

.header-info-links {
    display: flex;
    flex-direction: row;
}


.request-link {
    width: 295px;
    height: 58px;
    display: inline-block;
    padding: 17px 26px;
    background: #1673FF;
    border: 2px solid #1673FF;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;

}

.request-link:hover {
    color: #0A121E;
    background-color: #FFFFFF;
}


.frame {
    margin-left: 30px;
}

.whitepaper-link {
    width: 268px;
    height: 58px;
    display: block;
    padding: 17px 26px;
    border: 2px solid rgba(10, 18, 30, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.4s;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0A121E;

}

.frame1 {
    margin-left: 75px;
}

.whitepaper-link:hover {
    color: white;
    background-color: #1673FF;
}

main {
    background-color: #E5E5E5;
}

.main .container {
    display: flex;
    flex-direction: column;
}

.ip-section {
    padding: 70px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ip-section-info {
    width: 45%;
}

.ip-section-img {
    width: 45%;
}


.ip-section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;

}

.ip-section-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    color: #0A121E;
    margin: 15px 0px 25px 0px;

}


.ip-section-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #455A74;
}

.features-section {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}

.features-section-name {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

}


.features-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;
    margin-left: 250px;
}


.features-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 68px;
    text-align: center;
    color: #0A121E;
    margin: 15px 0px 0px 200px;

}

.three-boxes {
    margin: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 32%;
    padding: 60px 40px;

    background: #E7F1FB;
    border-radius: 0px;
}

.box-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 36px 0px 22px 0px;
    text-align: center;

    color: #0A121E;


}


.box-info {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #455A74;

}


.chrome-section {
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    justify-content: space-between;
}

.chrome-section-info {
    width: 48%;
}

.chrome-section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #0A121E;

}


.chrome-section-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    color: #0A121E;
    margin: 15px 0px 26px 0px;

}

.chrome-section-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #455A74;

}

.cash-section {
    display: flex;
    flex-direction: row;
    margin: 80px 0px;
    justify-content: space-between;


}


.cash-section-info {
    width: 50%;
}

.cash-section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;
}

.cash-section-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    margin: 15px 0px 28px 0px;
    color: #0A121E;

}


.cash-section-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #455A74;
}

.cash-section-list {
    margin-top: 20px;
}


.cash-section-item {
    margin: 16px 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #040F1F;
}

.correct {
    margin-right: 10px;
}


.black-section {
    background-color: #0A121E;
    padding: 100px 150px 70px 150px;
}


.b-section-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.b-section-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #90A3BF;

}


.b-section-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 57px;
    line-height: 68px;
    margin: 15px 0px 26px 0px;
    text-align: center;
    color: #FFFFFF;

}

.free-p {

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #90A3BF;
    margin-left: 600px;
}


.b-section-links {
    display: flex;
    align-items: center;
    margin: 50px 0px 50px 300px;
}

.b-whitepaper-link {
    width: 268px;
    height: 58px;
    display: block;
    padding: 17px 26px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.4s;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.b-whitepaper-link:hover {
    color: #0A121E;
    background-color: white;
}

.token-section {
    background-color: #E5E5E5;
}


.token-section .container {
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
}

.token-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.token-box-info {
    width: 48%;
}

.token-box-list {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.token-box-item {
    width: 36%;
}

.token-box-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;
    margin-left: 20px;

}

.token-box-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    margin-top: 15px;
    color: #0A121E;

}

.token-box-item-text {

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0px 30px 0px;
    color: #040F1F;

}

.companies-list-section .container {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.company-list-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #455A74;
    margin-bottom: 10px;

}

.company-item {
    width: 16%;
}

td {
    border-collapse: collapse;
}

.table-box {
    margin: 120px 0px;
}

.table-box-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;

}

.table-box-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    margin: 15px 0px 60px 0px;
    color: #0A121E;

}


.table-data {
    padding: 38px 40px;
    background: #E7F1FB;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(12, 39, 34, 0.9);
    border-collapse: collapse;
}

.same {
    padding: 50px 100px;
    background: #FFFFFF;
    border-radius: 0px;
}

.table-data1 {
    padding: 30px 110px;
    background-color: #E7F1FB;
    border-collapse: collapse;
}

.table-heading1 {
    width: 254px;
    padding: 52px 70px;
    background-color: #E7F1FB;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */


    color: #040F1F;
}

.different {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #040F1F;
    padding: 38px 40px;
    background: #E7F1FB;
    border-radius: 0px;
}


.roadmap-box {
    margin: 100px 0px 60px 0px;
}

.roadmap-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0A121E;
}


.roadmap-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    color: #0A121E;
    margin: 15px 0px 60px 0px;

}

.titles {
    display: flex;
}


.year-title {
    width: 25%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #040F1F;
    margin-bottom: 20px;

}

.road-line {

    height: 2px;
    color: #EAEEF2;
}


.products-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.product-box {
    margin-top: 30px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #040F1F;
}


.product-box-list {
    margin-top: 15px;

}

.product-box-item {
    padding: 22px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #040F1F;
    background-color: #E7F1FB;

}

.several {
    margin-top: 20px;
}

.seve {
    text-align: center;
}

.images-section {
    background-color: #EAEEF2;
}

.images-section .container {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
}

.images-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #0A121E;

}


.images-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    margin: 15px 0px 60px 0px;
    color: #0A121E;

}

.images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.images-item {
    width: 23%;
    margin: 30px 0px;
}

.profession {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    margin: 20px 0px 8px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #1673FF;


}


.prof {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.man-name {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-right: 10px;
    color: #040F1F;
}


.former {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #455A74;
}


.blank-links {
    background-color: #1673FF;
}

.blank-links .container {
    padding: 110px 0px;
}

.links-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    text-align: center;

    color: #FFFFFF;

}

.blank-section-links {
    display: flex;
    align-items: center;
    margin: 50px 0px 50px 300px;
}


.blank-sec-link {
    width: 295px;
    height: 58px;
    display: inline-block;
    padding: 17px 26px;
    background: #0A121E 70%;
    border: 2px solid #1673FF;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;

}


.blank-whitepaper-link {
    width: 268px;
    height: 58px;
    display: block;
    padding: 17px 26px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.4s;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blank-whitepaper-link:hover {
    text-decoration: underline;
}


.blank-sec-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #0A121E;
}

footer .container {
    display: flex;
    flex-direction: row;
    padding: 110px 0px 80px 0px;
}

.footer-infos {
    width: 33%;

}

.footer-name {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}

.footer-icon {
    margin-right: 10px;
}

.footer-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-top: 40px;
    color: #FFFFFF;

}


.footer-bottom {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    margin-top: 150px;
    color: #FFFFFF;

}

.footer-first-list1 {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.footer-black-link {
    display: block;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #74849B;
    text-decoration: none;

}

.footer-black-link:hover {
    text-decoration: underline;
}

.footer-first-list {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.footer-first-list-link {
    display: block;
    text-decoration: none;
    margin: 9px 0px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;

}

.footer-first-list-link:hover {
    text-decoration: underline;
}